.pokemon-score-board {
    .score-title {
        width: 45vw;
        margin: 10px 0;
    }

    .pokemon-scores {
        border: 5px solid var(--accent2);
        border-radius: 10px;
        margin-bottom: 50px;
        
        display: inline-block;
        background-color: var(--secondary);
        
        @media (max-width: 767px) {
            width: 98vw;
        }
        
        @media (min-width: 768px) {
            width: 80vw;
        }

        @media (min-width: 1200px) {
            width: 70vw;
        }

        .filters {
            padding: 10px;
            text-align: start;
            font-size: larger;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .sortable {
            cursor: pointer;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        .score-row, .header-row {
            font-size: calc(10px + 1vw);
            font-weight: bolder;
            padding: 7px 20px;
            border-bottom: 1px solid var(--accent2);
            
            td, th {
                padding: 7px 20px;
                max-width: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            td:first-child, th:first-child {
                text-align: left;
            }

            td:last-child, th:last-child {
                text-align: right;
            }

            &:nth-child(even) {
                background-color: #bca676;
            }
        }
        
        .score-row {
            .mode-easy {
                color: green;
            }

            .mode-hard {
                color: red;
            }

            .score {
                color: red;
            }
        }
    }

    .table-footer {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        
        .page-button {
            background-color: #4CAF50;
            font-size: 30px;
            border: none;
            color: white;
            padding: 5px 28px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
    }
}