.simple-bar-container {
    border-radius: 0 0 10px 10px;
    overflow-y: scroll;
    max-height: 350px;

    scrollbar-width: normal;
    scrollbar-color: #777 #555;

    &::-webkit-scrollbar {
        width: .6vw;
        min-width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #7775;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #777;
    }

    &::-webkit-scrollbar-track {
        background-color: #5555;
    }

    &::-webkit-scrollbar-track:hover {
        background-color: #b5b5b5;
    }

    .hourly-forecast-container {
        max-height: 350px;

        .background-dark {
            background-color: lightgray;
        }

        .hourly-header, .hourly-data {
            font-size: 15px;
            font-weight: 600;
        }

        .hourly-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                max-width: 35px;
                max-height: 35px;
            }
        }
    }
}